# Dépendances
node_modules/
package-lock.json
yarn.lock

# Fichiers d'environnement
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Fichiers temporaires
tmp/
temp/
