<header class="header">
  <div class="header-container">
    <div class="logo">
      <h2><i class="fas fa-tasks"></i> TodoApp</h2>
    </div>
    <nav class="nav">
      <a href="/app/v1/" class="nav-link">Accueil</a>
      <a href="/app/v1/forms/add" class="nav-link btn btn-primary"
        >Nouvelle Tâche</a
      >
    </nav>
    <div class="theme-switch-container">
      <label class="theme-switch-label">
        <input type="checkbox" id="theme-toggle" class="theme-switch-input" />
        <span class="theme-switch-slider">
          <i class="fas fa-moon theme-switch-icon moon"></i>
          <i class="fas fa-sun theme-switch-icon sun"></i>
        </span>
      </label>
    </div>
  </div>
</header>