<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/add.css" />
    <link rel="stylesheet" href="/css/edit.css" />
    <title>
      
    </title>
  </head>
  <body>
    <!-- HEADER DYNAMIQUE -->
    <%- include('./views/partials/header') %>

    <!-- CONTENU PRINCIPAL DYNAMIQUE -->
    <main><%- body %></main>

    
    <%- include('./views/partials/footer') %>
  </body>
</html>
