<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoApp - Gestionnaire de Tâches</title>
  </head>
  <body>
    <!-- HEADER -->
    <%- include('./partials/header.ejs') %>

    <main><%- include(page) %></main>

    <!-- FOOTER -->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
